body, html {
	background-color: black;
	height: 100%;
	padding: 0;
  margin: 0;
}

p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

p em {
	color: #f700ff;
	font-style: normal;
	animation: textAnimate 4s linear infinite alternate;
	background: linear-gradient( 92deg, #95d7e3, #eb76ff );
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	position: relative;
	animation: textAnimate 4s linear infinite alternate;
	background: linear-gradient( 92deg, #95d7e3, #eb76ff );
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.main {
	text-align: center;
	position: relative;
  top: 40%;
  transform: translateY(-50%);

}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 0px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 55px
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 150 400;
  stroke-dashoffset: -275;
  transition: 1s all ease;

}

#text {
  margin-top: -49px;
  margin-left: 22px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 2em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}







