/*

#0B0C10 - Black
#1F2833 - Lighter Black
#ebebeb - White
#66FCF1 - Blue
#45A29E - Darker Blue

*/
* {
    outline: none;
}


html,
body {
    margin: 0px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    padding: 0px;
    scroll-behavior: smooth;
    height: auto;
    font-family: 'Poppins', sans-serif;

}

#activepage {
    color: white;
    font-weight: bold;
}

#activepage1 {
    color: black;
    font-weight: bold;
}

#navbar nav {
    color: rgb(165, 165, 165);
    z-index: 1000;
    width: 100vw;
    padding: 0.75em 0 0.75em 0;
    position: absolute;
    text-align: center;
}

#navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar nav li {
    display: inline;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: background-color 300ms linear, color 1s linear;
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 5em;
}

#navbar li a {
    text-decoration: none;
    color: inherit;
}

#navbar nav li:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}

#navbar nav li:active {
    background-color: rgb(63, 63, 63);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#navbar1 nav {
    color: rgb(192, 192, 192);
    z-index: 10005;
    width: 100vw;
    padding: 0.75em 0 0.75em 0;
    position: fixed;
    background-color: #222222d5;
    text-align: center;
}

#navbar1 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar1 nav li {
    display: inline;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: background-color 300ms linear, color 1s linear;
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 5em;
}

#navbar1 li a {
    text-decoration: none;
    color: inherit;
}

#navbar1 nav li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#navbar1 nav li:active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#scrolltop {
    position: fixed;
    left: 89vw;
    top: 92vh;
    display: none;
    width: auto;
    height: auto;

}

#scrolltop button {
    background-color: white;
    border-color: transparent;
    border-radius: 500px;
    transition: background-color 300ms linear;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
}

#scrolltop button:hover {
    background-color: rgb(170, 170, 170);
    color: black;
}

#scrolltop button:active {
    background-color: rgb(170, 170, 170);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

/* EVERYTHING BELOW HERE YOU CAN TOUCH. DO NOT TOUCH ANYTHING ABOVE */

.main {
    margin: 0px;
    height: auto;
    display: grid;
}

.sec1 {
    height: 100vh;
    ;
    background-color: #ffffff;
    margin: 0px;
}

.sec1 h1 {
    color: #000000;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin-top: 5vh;
    z-index: 1;

}

.sec1 h2 {
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: -3.5em;
    margin-bottom: 5vh;
    z-index: 1;

}



#gradient {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}



.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing {
    background-color: #fff;
    border: 1px solid #eee;
    margin: 10px;
    text-align: center;
    transition: border-top 300ms linear, box-shadow 300ms linear;
    width: 15vw;
    border-top: 2px solid white;
}

.pricing:hover {
    border-top: 2px solid #50BC01;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.pricing.highlight {}

.pricing h1 {
    color: #5CAEFE;
    margin: 0px 0 0;
    font-size: 2em;
}

.pricing h4 {
    margin: 0px 0 0;
}

.pricing small.green {
    color: #50BC01;
    margin: 0;
}

.pricing small.green+h1 {
    margin-top: 0px;
}

.pricing small {
    color: #777;
}

.pricing ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pricing ul li {
    margin: 10px 30px;
    max-width: 250px;
}

.pricing button {
    background-color: #5CAEFE;
    border-width: 5px;
    border-color: #5CAEFE;
    border-radius: 30px;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 30px;
    transition: 230ms linear;
}

.pricing button:hover {
    background-color: white;
    color: black;
    border-color: #5CAEFE;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}